<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <!-- <arg name="world_name" default="$(find nexus_gazebo)/worlds/nexus_4wd_mecanum.world" /> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nexus_4wd_mecanum_description)/worlds/wall.world "/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

<!-- Load robot description -->
<include file="$(find nexus_4wd_mecanum_description)/launch/nexus_4wd_mecanum_description.launch" />


  <node name="urdf_spawner_box" pkg="gazebo_ros" type="spawn_model" args="-urdf -model nexus_4wd_mecanum -param robot_description  -x 0 -y 0 -z 0.0"/>
  <group ns="boxes">   
    <node name="spawn_box_1"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box1.urdf  -urdf -model box1   -x -1     -y  1    -z 0" />
    <node name="spawn_box_2"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box2.urdf   -urdf -model box2   -x  1     -y  1    -z 0" />
    <node name="spawn_box_3"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box3.urdf   -urdf -model box3   -x  2.2   -y  2    -z 0" />
    <node name="spawn_box_4"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box4.urdf   -urdf -model box4   -x  3.5   -y  2    -z 0" />
    <node name="spawn_box_5"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box5.urdf   -urdf -model box5   -x  2     -y  -2.2  -z 0" />
    <node name="spawn_box_6"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box6.urdf   -urdf -model box6   -x -2     -y -1.2  -z 0" />
    <node name="spawn_box_7"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box7.urdf   -urdf -model box7   -x -1.5   -y -2    -z 0" />
    <node name="spawn_box_8"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box8.urdf   -urdf -model box8   -x -1     -y  2    -z 0" />
    <node name="spawn_box_9"  pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box9.urdf   -urdf -model box9   -x -2     -y -3    -z 0" />
    <node name="spawn_box_10" pkg="gazebo_ros" type="spawn_model" args="-file $(find nexus_4wd_mecanum_description)/urdf/box10.urdf -urdf -model box10  -x -2.7   -y  4    -z 0" />
 </group>

</launch>
